
    <!--<ion-side-menus>-->
        <!--<ion-side-menu-content>-->
            <ion-view title="古月哥欠" align-title="center" id="main">
                <ion-header-bar class="bar-positive">
                    <!--<div class="button button-icon ion-navicon" menu-toggle></div>-->
                    <h3 class="title">古月哥欠</h3>
                    <a class="button button-icon ion-chatbox-working" class="message"
                       ui-sref="tabs.login"
                    ><span class="message">9</span></a>
                </ion-header-bar>
                <ion-content>
                    <div class="item item-divider">
                        影视资讯
                    </div>
                    <ion-slide-box auto-play="true" does-continue="true">
                        <ion-slide><a class="box" href="#/tabs/zixun?id=2"><img src="images/3.jpg" alt=""><span>{{news[0]}}</span></a></ion-slide>
                        <ion-slide><a class="box" href="#/tabs/zixun?id=0"><img src="images/6.jpg" alt=""><span>{{news[4]}}</span></a></ion-slide>
                        <ion-slide><a class="box" href="#/tabs/zixun?id=1"><img src="images/5.jpg" alt=""><span>{{news[1]}}</span></a></ion-slide>
                        <ion-slide><a class="box" href="#/tabs/zixun?id=2"><img src="images/2.jpg" alt=""><span>{{news[2]}}</span></a></ion-slide>
                        <ion-slide><a class="box" href="#/tabs/zixun?id=2"><img src="images/1.jpg" alt=""><span>{{news[3]}}</span></a></ion-slide>
                    </ion-slide-box>
                    <div class="item item-divider">最新代言</div>
                    <div class="row top">
                        <div class="col"><img src="images/dy2.jpg" alt="">必胜客</div>
                        <div class="col"><img src="images/dy3.jpg" alt="">大话西游</div>
                        <div class="col"><img src="images/dy7.jpg" alt="">博朗</div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="images/dy8.jpg" alt="">畅优</div>
                        <div class="col"><img src="images/dy6.jpg" alt="">百度钱包</div>
                        <div class="col"><img src="images/dy1.jpg" alt="">果粒橙</div>
                    </div>
                    <div class="item item-divider">时尚杂志</div>
                    <div class="row">
                        <div class="col"><img src="images/11.jpg" alt="">时尚先生</div>
                        <div class="col"><img src="images/12.jpg" alt="">风度</div>
                        <div class="col"><img src="images/13.jpg" alt="">时装</div>
                        <div class="col"><img src="images/14.jpg" alt="">睿士</div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="images/15.jpg" alt="">ELLE</div>
                        <div class="col"><img src="images/16.jpg" alt="">GQ智族</div>
                        <div class="col"><img src="images/17.jpg" alt="">时尚芭莎</div>
                        <div class="col"><img src="images/19.jpg" alt="">电视剧</div>
                    </div>
                    <div class="item dixian">
                        <p>-------------我是有底线的--------------</p>
                    </div>
                    <!--<div class="row logo">-->
                    <!--<div class="col"><img src="images/timg.png" alt=""></div>-->
                    <!--<div class="col"><img src="images/wechat.png" alt=""></div>-->
                    <!--<div class="col"><img src="images/logo.png" alt=""></div>-->
                    <!--<div class="col"><img src="images/logo.png" alt=""></div>-->
                    <!--</div>-->
                </ion-content>
            </ion-view>
        <!--</ion-side-menu-content>-->
        <!--<ion-side-menu side="left">-->
            <!--<ion-header-bar class="bar-positive">-->
                <!--<h1 class="title">全部应用</h1>-->
            <!--</ion-header-bar>-->
            <!--<ion-content>-->
                <!--<div class="list">-->
                    <!--<div class="item " menu-close>-->
                        <!--<i class="icon ion-"></i>其实-->
                    <!--</div>-->
                    <!--<div class="item " menu-close>-->
                        <!--<i class="icon ion-"></i>我也-->
                    <!--</div>-->
                    <!--<div class="item " menu-close>-->
                        <!--<i class="icon ion-"></i>不-->
                    <!--</div>-->
                    <!--<div class="item " menu-close>-->
                        <!--<i class="icon ion-"></i>知道-->
                    <!--</div>-->

                    <!--<div class="item " menu-close>-->
                        <!--<i class="icon ion-"></i>这里-->
                    <!--</div>-->

                    <!--<div class="item " menu-close>-->
                        <!--<i class="icon ion-"></i>该放-->
                    <!--</div>-->

                    <!--<div class="item " menu-close>-->
                        <!--<i class="icon ion-"></i>什么-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-content>-->
      <!--</ion-side-menu>-->
    <!--</ion-side-menus>-->
