<ion-view id="friends" title="胡椒园">
    <ion-header-bar class="bar-positive">
        <h1 class="title">胡椒园</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider ">这是我的胡椒园</div>
        <div class="list" >
            <div class="item item-icon-left item-icon-right  mymy" ui-sref="tabs.photo">
                <i class="icon ion-aperture assertive"></i>胡椒园
                <span class="badge badge-assertive">920</span>
                <i class="icon ion-chevron-right button-small"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="noopen()">
                <i class="icon ion-qr-scanner balanced"></i>扫一扫
                <i class="icon ion-chevron-right button-small"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="noopen()">
                <i class="icon ion-iphone calm"></i>摇一摇
                <i class="icon ion-chevron-right button-small"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="noopen()">
                <i class="icon ion-ios-body calm"></i>附近的人
                <i class="icon ion-chevron-right button-small"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="noopen()">
                <i class="icon ion-trash-b energized"></i>漂流瓶
                <i class="icon ion-chevron-right button-small"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="noopen()">
                <i class="icon ion-bag assertive"></i>购物
                <i class="icon ion-chevron-right button-small"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="noopen()">
                <i class="icon ion-xbox calm"></i>游戏
                <i class="icon ion-chevron-right button-small"></i>
            </div>
        </div>
    </ion-content>
</ion-view>